#appView {
	width: 768px;
}

#freeship {
	background: url(images/freeship_banner_675x30.jpg) no-repeat center top;
	height: 30px;
	margin-bottom:18px;
}

#header .tread {
	width: 786px;
	height: 29px;
	background: url(images/tread_786.png);
	top: -10px;
	left: -12px;
}