.displayNone_640{display:none;}
.displayOnly_960{display:none;}
.displayOnly_768{display:none;}
.displayOnly_480{display:none;}
.displayOnly_320{display:none;}

.floatLeft_640{float:left;}
.floatRight_640{float:right;}
.clearLeft_640{clear:left;}
.clearRight_640{clear:right;}

.alignLeft_640{text-align:left;}
.alignRight_640{text-align:right;}
.alignCenter_640{text-align:center;}
.alignJustify_640{text-align:justify;}

#appView {
	width: 640px;
}

#freeship {
	background: url(images/freeship_banner_596x28.jpg) no-repeat center top;
	height: 28px;
	margin-bottom:18px;
}

#header {height: 144px;}

#header .tread {
	width: 662px;
	height: 28px;
	background: url(images/tread_662.png);
	top: -16px;
	left: -13px;
}


#header .headerMarginRight{
	margin-right: 1px;
}

#header .logoContainer {
	height: 76px;
	width: 171px;
}
#header .logoContainer .logo{
	display: block;
	background:url(images/logo_154x73.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header #headerBanners{ width: 468px; height: 76px;}
#header #headerBanners #questions {width: 212px; height: 100%;}
#header #headerBanners #returnExchangeCombo {width: 145px; height: 100%;}
#header #headerBanners #returnExchangeCombo #returnInCombo {height: 37px; margin-bottom: 1px;}
#header #headerBanners #returnExchangeCombo #exchangeInCombo {height: 38px;}
#header #headerBanners #minicart {width: 109px; height: 100%;}


#header #searchBar {width: 437px;}

#footer {
	height: 182px;
	padding: 20px 10px 0px 10px;
}

#footer .linkList {font-size: .95em; margin-right: 10px;}
#footer #footerSocial {margin-top: 30px; margin-bottom: 20px;}

/*********************************************************

HOMEPAGE STYLES

*********************************************************/
#slideshow_640 { height: 267px; background: black; }

#homepageFeatures {height: 377px; background:url(images/homepage_features_background_640x377.jpg); padding: 0px 10px;}

#homepageFeaturesTitle{height:38px; background:url(images/homepage_features_title_560x27.png) center center no-repeat;}

#homepageFeatures360s { height: 158px; width: 620px; margin-bottom:10px;}
#homepageFeatures360s .imajizeContainer { width: 144px; height: 100%; padding: 0px 5px;}
#homepageFeatures360s .imajizeContainer .title{ height:25px; line-height:25px;}
#homepageFeatures360s .imajizeContainer .title,
#homepageFeatures360s .imajizeContainer .price{ font-size: .8em; }
#homepageFeatures360s .imajizeContainer iframe { width: 144px; height: 108px; }

#homepageFeaturesCarousel{height: 160px;}

#homepageFeaturesCarouselNext { background: url(images/arrow_right_7x29.png) center center no-repeat, #cc4300;}
#homepageFeaturesCarouselPrev { background: url(images/arrow_left_7x29.png) center center no-repeat, #cc4300;}

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext {width: 12px;}

#homepageFeaturesCarouselPrev {border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
#homepageFeaturesCarouselNext {border-top-right-radius: 8px;border-bottom-right-radius: 8px;}

#homepageFeaturesCarouselBody {width: 332px; margin: 0px 2px;}

#homepageFeaturesCarouselBody ul{width: 100%; height: 200px;}

#homepageFeaturesVideo {padding-top: 8px; margin-left: 8px;}
#homepageFeaturesVideo > div {width: 246px; height: 138px;}