.displayNone_960{display:none;}
.displayOnly_768{display:none;}
.displayOnly_640{display:none;}
.displayOnly_480{display:none;}
.displayOnly_320{display:none;}

.floatLeft_960{float:left;}
.floatRight_960{float:right;}
.clearLeft_960{clear:left;}
.clearRight_960{clear:right;}

.alignLeft_960{text-align:left;}
.alignRight_960{text-align:right;}
.alignCenter_960{text-align:center;}
.alignJustify_960{text-align:justify;}

#appView {
	width: 960px;
}

#freeship {
	background: url(images/freeship_banner_675x30.jpg) no-repeat center top;
	height: 30px;
	margin-bottom:18px;
}

#header {height: 156px;}

#header .tread {
	width: 973px;
	height: 29px;
	background: url(images/tread_973.png);
	top: -10px;
	left: -8px;
}

#header .headerMarginRight{
	margin-right: 3px;
}

#header .logoContainer {
	height: 120px;
	width: 284px;
}
#header .logoContainer .logo{
	display: block;
	background:url(images/logo_213x101.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header .logoContainer img {top:12px;}

#header #headerBanners{width:673px;}
#header #searchBar { width: 470px;} /* SUBTRACT 90 and 113 for PADDING*/
#header #headerBanners {height: 85px;}
#header #headerBanners #questions {width: 260px; height: 100%;}
#header #headerBanners #return90days {width: 153px; height: 100%;}
#header #headerBanners #freeExchange {width: 125px; height: 100%;}
#header #headerBanners #minicart {width: 126px; height: 100%;}

#footer {
	height: 182px;
	padding: 20px 34px 0px 34px;
}

#footer .linkList {height: 100%; font-size: .95em; margin-right: 20px;}
#footer #footerSocial {margin-bottom: 10px;}
#footer #footerPaymentDecals {margin-bottom: 10px;}


/*********************************************************

HOMEPAGE STYLES

*********************************************************/
#slideshow_960 { height: 403px; background: black; }

#homepageFeatures {height: 567px; background:url(images/homepage_features_background_960x567.jpg); padding: 0px 16px;}

#homepageFeaturesTitle{height: 55px; background: url(images/homepage_features_title_836x36.png) center center no-repeat;}

#homepageFeatures360s { height: 238px; width: 928px; margin-bottom: 16px;}
#homepageFeatures360s .imajizeContainer { width: 216px; height: 100%; padding: 0px 8px;}
#homepageFeatures360s .imajizeContainer .title{ height:39px; line-height:39px;}
#homepageFeatures360s .imajizeContainer iframe { width: 216px; height: 161px; }

#homepageFeaturesCarousel{height: 238px;}

#homepageFeaturesCarouselNext { background: url(images/arrow_right_10x44.png) center center no-repeat, #cc4300;}
#homepageFeaturesCarouselPrev { background: url(images/arrow_left_10x44.png) center center no-repeat, #cc4300;}

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext {width: 15px;}

#homepageFeaturesCarouselPrev {border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
#homepageFeaturesCarouselNext {border-top-right-radius: 10px;border-bottom-right-radius: 10px;}

#homepageFeaturesCarouselBody {width: 500px; margin: 0px 2px;}
#homepageFeaturesCarouselBody ul{width: 100%; }
#homepageFeaturesCarouselBody .carouselHeader{ letter-spacing: 5px;}
li.prodListItemCarousel { margin-top: 3px; }
.prodListItemCarousel .prodThumbContainer {width:133px; height:133px; margin-bottom: 5px;}
.prodListItemCarousel .name {height:50px;}

#homepageFeaturesVideo {padding-top: 12px; margin-left: 18px;}
#homepageFeaturesVideo > div {width: 370px; height: 208px;}
