html, body {
	height:100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: url(images/back_top.png) center top repeat-x, url(images/back_bottom.png) center 280px repeat;
}

.sourceSans { font-family: 'Source Sans Pro', sans-serif; }
.clear { clear: both; }

.headerGradientBG {
	background: #ffe2b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe2b0 70%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffe2b0), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe2b0 70%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe2b0 70%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe2b0 70%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe2b0 70%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2b0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


#appView {margin: 0px auto;}

#freeship {
	margin-bottom: 18px;
}

#header, #mainBody, #footer{
	background: white;
}

#header {
	position:relative;
	height: 156px;
}


#header .tread {
	position: absolute;
	z-index: 1;
}

#header .headerMarginRight{
	margin-right: 3px;
}

#header .logoContainer {
	height: 120px;;
	width: 284px;
}

#header .logoContainer img {
	position:relative;
	top: 12px;
	z-index: 2;
}
#header #headerBanners,
#header #searchBar { width: 673px;}
#header #headerBanners {height: 85px;}
#header #headerBanners #questions {width: 260px; height: 100%;}
#header #headerBanners #return90days {width: 153px; height: 100%;}
#header #headerBanners #freeExchange {width: 125px; height: 100%;}
#header #headerBanners #minicart {width: 126px; height: 100%;}

#header #headerBanners div {position:relative; z-index: 0;}
#header #headerBanners img {position:absolute; z-index:2; top: 50%; left: 50%;}
#header #headerBanners #questions img{margin-top: -22px; margin-left: -103px;}
#header #headerBanners #return90days img{margin-top: -16px; margin-left: -60px;}
#header #headerBanners #freeExchange img{margin-top: -15px; margin-left: -36px;}
#header #headerBanners #minicart img{margin-top: -26px; margin-left: -40px;}

#header #searchBar {
	height: 32px;
	background: #ffe2b0;
	color: #cc4300;
	
	line-height: 30px;
}

#header #searchBar #searchBarInput{
	width: 450px;
	height: 22px;
	background: white;
	border: none;
	border-radius: 2px;
}

#header #searchBar #searchBtn {
	width: 90px;
	font-weight: bold;
	font-size: .8em;
	display: inline-block;
}
#header #searchBar #deptSearchBtn {
	font-size: .65em;
	width: 113px;
	display: inline-block;
}

#header #nav {
	height: 36px;
	background: #cc4300;
}
#header #nav > div {height: 100%; line-height: 36px;}
#header #nav .navOption {border-right: 1px solid #ffe2b0;}
#header #nav a{
	color: #ffe2b0;
	font-weight: bold;
	padding: 0px 18px;
	text-decoration: none;
}
#header #nav #allDepts a{ font-size: .8em; }


#footer {
	height: 168px;
	background: #f2f2f2; 
	padding: 20px 34px 0px 34px;
	margin-bottom: 30px;
}

#footer .linkList {height: 100%; font-size: .95em; margin-right: 20px;}

#footer #socialAndBadges > div {
	margin-bottom: 10px;
}