html, body {
	height:100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: url(images/back_top.png) center top repeat-x, url(images/back_bottom.png) center 280px repeat;
}

.sourceSans { font-family: 'Source Sans Pro', sans-serif; }
.clear { clear: both; }
.clearRight { clear: right; }

.highlightBG{background:#ffe2b0}
.headerGradientBG {
	background: #ffe2b0; /* Old browsers */
	background: -moz-linear-gradient(bottom,  #ffffff 10px, #ffe2b0 30px); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(10px,#ffffff), color-stop(30px,#ffe2b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,#ffffff 10px,  #ffe2b0 30px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, #ffffff 10px,  #ffe2b0 30px); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom, #ffffff 10px,  #ffe2b0 30px); /* IE10+ */
	background: linear-gradient(to top,#ffffff 10px, #ffe2b0 30px); /* W3C */
}


#appView {margin: 0px auto;}

#header, #mainBody, #footer{
	background: white;
}

#header {position:relative;}
#header .tread {
	position: absolute;
	z-index: 1;
}

#header .logoContainer .logo {
	position:relative;
	z-index: 2;
}

#header #headerBanners div,
#header #smallHeaderBanners div {position:relative;}
#header #headerBanners img,
#header #smallHeaderBanners img {position:absolute; z-index:2; top: 50%; left: 50%;}
#header #headerBanners #questions img{margin-top: -22px; margin-left: -103px;}
#header #headerBanners #return90days img{margin-top: -16px; margin-left: -60px;}
#header #headerBanners #freeExchange img{margin-top: -15px; margin-left: -36px;}
#header #headerBanners #returnExchangeCombo #returnInCombo img{margin-top: -6px; margin-left: -66px;}
#header #headerBanners #returnExchangeCombo #exchangeInCombo img{margin-top: -10px; margin-left: -67px;}
#header #headerBanners #minicart img{margin-top: -26px; margin-left: -40px;}
#header #smallHeaderBanners #returnSmall img{margin-top: -18px; margin-left: -55px;}
#header #smallHeaderBanners #exchangeSmall img{margin-top: -17px; margin-left: -33px;}
#header #smallHeaderBanners #minicartSmall img{margin-top: -19px; margin-left: -48px;}




#header #searchBar {
	height: 32px;
	background: #ffe2b0;
	color: #cc4300;
	padding-left: 90px;
	padding-right: 113px;
	line-height: 30px;
}

#header #searchBar #searchBarInput{
	position:relative;
	padding: 0px;
	margin: 0px;
	float:left;
	width: 100%;
	margin-top:5px;
	height: 22px;
	background: white;
	border: none;
	border-radius: 2px;
}

#header #searchBar #searchBtn {
	position:relative;
	float:left;
	margin-right:-90px;
	right:90px;
	width: 90px;
	font-weight: bold;
	font-size: .8em;
}
#header #searchBar #deptSearchBtn {
	position:relative;
	float:left;
	margin-right: -113px;
	font-size: .65em;
	width: 113px;
}

#header #nav {
	height: 36px;
	background: #cc4300;
}
#header #nav > div {height: 36px; line-height: 36px;}
#header #nav .navOption {border-right: 1px solid #ffe2b0;}
#header #nav a{
	color: #ffe2b0;
	font-weight: bold;
	padding: 0px 18px;
	text-decoration: none;
}
#header #nav #allDepts a{ font-size: .8em; }


#footer {
	background: #f2f2f2; 
	margin-bottom: 30px;
}
#footer .linkList a{text-decoration: none; color: black;}


/*********************************************************

HOMEPAGE STYLES

*********************************************************/

#homepageSlideshow div {overflow:hidden;}

#homepageFeatures360s { background: #cc4300; box-shadow:0px 3px 5px rgba(0,0,0,.4); }

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext { background: #cc4300;}
#homepageFeaturesCarouselBody{ background:#ffe2b0;}

#homepageFeaturesVideo > div {box-shadow:0px 3px 5px rgba(0,0,0,.4); background: white; border-radius: 3px; padding: 3px;}

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext,
#homepageFeaturesCarouselBody {height:100%; float: left;}