.displayNone_768{display:none;}
.displayOnly_960{display:none;}
.displayOnly_640{display:none;}
.displayOnly_480{display:none;}
.displayOnly_320{display:none;}

.floatLeft_768{float:left;}
.floatRight_768{float:right;}
.clearLeft_768{clear:left;}
.clearRight_768{clear:right;}

.alignLeft_768{text-align:left;}
.alignRight_768{text-align:right;}
.alignCenter_768{text-align:center;}
.alignJustify_768{text-align:justify;}

#appView {
	width: 768px;
}

#freeship {
	background: url(images/freeship_banner_675x30.jpg) no-repeat center top;
	height: 30px;
	margin-bottom:18px;
}

#header {height: 144px;}

#header .tread {
	width: 786px;
	height: 29px;
	background: url(images/tread_786.png);
	top: -10px;
	left: -12px;
}

#header .headerMarginRight{
	margin-right: 2px;
}

#header .logoContainer {
	height: 76px;
	width: 182px;
}
#header .logoContainer .logoLink{
	display: block;
	background:url(images/logo_154x73.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header #headerBanners{ width: 584px; height: 76px;}
#header #headerBanners #questions {width: 230px; height: 100%;}
#header #headerBanners #return90days {width: 140px; height: 100%;}
#header #headerBanners #freeExchange {width: 99px; height: 100%;}
#header #headerBanners #minicart {width: 109px; height: 100%;}

#header #searchBar {width: 565px;}

.dropdownContent {
	width: 768px;
}
.dropdownContent.showDropDown.helmets {height: 570px;}
.dropdownContent.showDropDown.parts {height: 490px;}
.dropdownContent.showDropDown.apparel {height: 490px;}
.dropdownContent .featBrands {width: 300px;}

.dropdownContent .dropdownList a {line-height: 70px; height: 70px; padding-top: 10px; margin-left: 10px;}
.dropdownContent .dropdownList img { border: 3px solid #36393e; margin-right: 10px; }

#filterContainer {left:-68px; top:40px;}
#filterContainer #showFilterBtn { width: 68px; height:285px; background:url(images/show_filter_btn_68x285.png) no-repeat;}

#footer {
	height: 182px;
	padding: 20px 34px 0px 34px;
}

#footer .linkList {height: 100%; font-size: .95em; margin-right: 20px;}
#footer #footerSocial {margin-bottom: 10px;}
#footer #footerPaymentDecals {margin-bottom: 10px;}
/*********************************************************

HOMEPAGE STYLES

*********************************************************/
#homepageSlideshow { height: 321px; background: black; }
#homepageSlideshow a img{ height: 321px; width:100%; }

#homepageFeatures {height: 453px; background:url(images/homepage_features_background_768x453.jpg); padding: 0px 13px;}

#homepageFeaturesTitle{height:45px; background:url(images/homepage_features_title_671x30.png) center center no-repeat;}

#homepageFeatures360s { height: 190px; width: 742px;  margin-bottom: 13px;}
#homepageFeatures360s .imajizeContainer { width: 173px; height: 100%; padding: 0px 6px;}
#homepageFeatures360s .imajizeContainer .title{ height:30px; line-height:30px;}
#homepageFeatures360s .imajizeContainer .title,
#homepageFeatures360s .imajizeContainer .price{ font-size: .9em; }
#homepageFeatures360s .imajizeContainer iframe { width: 173px; height: 130px; }

#homepageFeaturesCarousel{height: 190px;}

#homepageFeaturesCarouselNext { background: url(images/arrow_right_8x35.png) center center no-repeat, #cc4300;}
#homepageFeaturesCarouselPrev { background: url(images/arrow_left_8x35.png) center center no-repeat, #cc4300;}

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext {width: 12px;}

#homepageFeaturesCarouselPrev {border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
#homepageFeaturesCarouselNext {border-top-right-radius: 8px;border-bottom-right-radius: 8px;}

#homepageFeaturesCarouselBody {width: 400px; margin: 0px 2px;}
#homepageFeaturesCarouselBody ul{width: 100%;}
#homepageFeaturesCarouselBody .carouselHeader{ letter-spacing: 5px;}
li.prodListItemCarousel { margin-top: 3px; }
.prodListItemCarousel .prodThumbContainer {width:105px; height:105px; margin-bottom: 5px;}
.prodListItemCarousel .name {height:30px;}
.prodListItemCarousel .name, 
.prodListItemCarousel .price {font-size: .8em;}

#homepageFeaturesVideo {padding-top: 8px; margin-left: 12px;}
#homepageFeaturesVideo > div {width: 296px; height: 167px;}
#homepageFeaturesVideo > div > iframe{width: 296px; height: 167px;}

/*********************************************************

CATEGORY PAGE STYLES

*********************************************************/
.categoryTemplateFilteredSearch .productList {margin: 0px 24px;}
.productList li.searchResultsProduct {width: 162px; height: 250px; margin: 9px;}
.searchResultsProduct .prodThumb {width: 162px; height: 162px;}

/*********************************************************

PRODUCT PAGE STYLES

*********************************************************/
.productPage { padding:28px;}
.prodImageContainer{width:460;}
.prodImageContainer .prodBigImageContainer, .prodImageContainer iframe, .prodImageContainer .prodBigImage {width:460px; height:346px;}

.prodImageContainer .prodThumbs{height:42px; padding: 3px;}
.prodImageContainer .icon {height:42px; line-height:42px; margin-left:5px;}
.prodImageContainer .icon .video { width:37px; height:35px;}
.prodViewerContainer .prodThumbs div { margin-right: 8px;}
.prodViewerContainer .prodThumb img{ width:54px; height:40px;}

.prodSummaryContainer{width: 235px; padding-left:15px;}
#ytModal .ytContainer {width: 700px; height: 420px; margin-left: -350px; margin-top: -210px;}

/*********************************************************

COMPANY PAGE STYLES

*********************************************************/
.companyPage { padding: 20px 20px 20px 40px;}
.companyPage .article iframe{width:531px; height: 300px;}
