#appView {
	width: 320px;
}

#freeship {
	background: url(images/freeship_banner_319x19.jpg) no-repeat center top;
	height: 19px;
	margin-bottom:10px;
}

#header .tread {
	width: 334px;
	height: 22px;
	background: url(images/tread_334.png);
	top: -10px;
	left: -9px;
}