.displayNone_320{display:none;}
.floatLeft_320{float:left;}
.floatRight_320{float:right;}
.clearLeft_960{clear:left;}
.clearRight_960{clear:right;}

.alignLeft_320{text-align:left;}
.alignRight_320{text-align:right;}
.alignCenter_320{text-align:center;}
.alignJustify_320{text-align:justify;}

#appView {
	width: 320px;
}

#freeship {
	background: url(images/freeship_banner_319x19.jpg) no-repeat center top;
	height: 19px;
	margin-bottom:10px;
}

#header {height:245px;}

#header .tread {
	width: 334px;
	float: left;
	height: 22px;
	background: url(images/tread_334.png);
	top: -10px;
	left: -9px;
}

#header .headerMarginRight{
	margin-right: 1px;
}

#header .logoContainer {
	height: 101px;
	width: 100%;
	margin-right: 0px;
}
#header .logoContainer .logo{
	display: block;
	background:url(images/logo_213x101.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header #smallHeaderBanners{ width: 100%; height: 46px;}
#header #smallHeaderBanners #returnSmall {width: 120px; height: 100%;}
#header #smallHeaderBanners #exchangeSmall {width: 86px; height: 100%;}
#header #smallHeaderBanners #minicartSmall {width: 112px; height: 100%;}

#header #nav {height: 72px;}
#header #nav .navOption {border: none; width: 159px; text-align:center;}
#header #nav .navOptionBorderRight_320 {border-right: 1px solid #ffe2b0;}
#header #nav .navOptionBorderBottom_320 {border-bottom: 1px solid #ffe2b0;}