.displayNone_320{display:none;}
.displayOnly_960{display:none;}
.displayOnly_768{display:none;}
.displayOnly_640{display:none;}
.displayOnly_480{display:none;}

.floatLeft_320{float:left;}
.floatRight_320{float:right;}
.clearLeft_960{clear:left;}
.clearRight_960{clear:right;}

.alignLeft_320{text-align:left;}
.alignRight_320{text-align:right;}
.alignCenter_320{text-align:center;}
.alignJustify_320{text-align:justify;}

#appView {
	width: 320px;
}

#freeship {
	background: url(images/freeship_banner_319x19.jpg) no-repeat center top;
	height: 19px;
	margin-bottom:10px;
}

#header {height:251px;}

#header .tread {
	width: 334px;
	float: left;
	height: 22px;
	background: url(images/tread_334.png);
	top: -10px;
	left: -9px;
}

#header .headerMarginRight{
	margin-right: 1px;
}

#header .logoContainer {
	height: 101px;
	width: 100%;
	margin-right: 0px;
}
#header .logoContainer .logo{
	display: block;
	background:url(images/logo_213x101.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header #smallHeaderBanners{ width: 100%; height: 46px;}
#header #smallHeaderBanners #returnSmall {width: 120px; height: 100%;}
#header #smallHeaderBanners #exchangeSmall {width: 86px; height: 100%;}
#header #smallHeaderBanners #minicartSmall {width: 112px; height: 100%;}

#header #searchBar{ padding-right: 0px; width: 230px;}
#header #searchBar #searchBarInput{ width: 220px;}

#header #nav {height: 73px;}
#header #nav .navOption {border: none; width: 159px; text-align:center;}
#header #nav .navOptionBorderRight_320 {border-right: 1px solid #ffe2b0;}
#header #nav .navOptionBorderBottom_320 {border-bottom: 1px solid #ffe2b0;}

#footer {
	padding: 18px 0px;
}

#footer .linkList {margin: 24px 0px;}

/*********************************************************

HOMEPAGE STYLES

*********************************************************/
#homepageSlideshow { height: 132px; background: black; }
#homepageSlideshow a img{ height: 132px; width:100%; }
#homepageSlideshow .pager{bottom: 0px; left:0px;}
#homepageSlideshow .pagerSpan{ width: 25px; height:25px; margin: 5px;}

#homepageFeatures {height: 603px; background:url(images/homepage_features_background_320x603.jpg);}

#homepageFeaturesTitle{height:66px; background:url(images/homepage_features_title_303x48.png) center center no-repeat;}

#homepageFeatures360s { height: 171px; margin-bottom: 8px;}
#homepageFeatures360s .imajizeContainer { width: 154px; height: 100%; padding: 0px 3px;}
#homepageFeatures360s .imajizeContainer .title{ height:27px; line-height:27px;}
#homepageFeatures360s .imajizeContainer .title,
#homepageFeatures360s .imajizeContainer .price{ font-size: .8em; }
#homepageFeatures360s .imajizeContainer iframe { width: 154px; height: 116px; }

#homepageFeaturesCarousel{height: 160px;}

#homepageFeaturesCarouselBody {width: 100%;}
#homepageFeaturesCarouselBody ul{width: 100%;}
#homepageFeaturesCarouselBody .carouselHeader{ letter-spacing: 5px; font-size: .9em;}
li.prodListItemCarousel { margin: 3px; }
.prodListItemCarousel .prodThumbContainer {width:88px; height:88px; margin-bottom: 3px;margin-left: auto; margin-right: auto;}
.prodListItemCarousel .name {height:28px; font-size: .7em; }
.prodListItemCarousel .price {font-size: .8em;}

#homepageFeaturesVideo {padding: 0px 3px; margin-bottom: 8px;}
#homepageFeaturesVideo > div {width: 308px; height: 173px;}
#homepageFeaturesVideo > div  > iframe{width: 308px; height: 173px;}

/*********************************************************

CATEGORY PAGE STYLES

*********************************************************/

/*********************************************************

PRODUCT PAGE STYLES

*********************************************************/

/*********************************************************

COMPANY PAGE STYLES

*********************************************************/
.companyPage { padding: 20px 10px; position: relative;}
.companyPage .article iframe{width:300px; height: 169px;}
.companyPage .sideline { 
	width: 0px;
	position: absolute;
	right: 0px;
	overflow: hidden;
}
.companyPage .sideline button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
}
.companyPage .sideline.responsiveShow{
	background: #ffe2b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe2b0 10px, #ffffff 300px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left top, color-stop(10px,#ffe2b0), color-stop(300px,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,#ffe2b0 10px,  #ffffff 300px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffe2b0 10px,  #ffffff 300px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffe2b0 10px,  #ffffff 300px); /* IE10+ */
	background: linear-gradient(to bottom,#ffe2b0 10px, #ffffff 300px); /* W3C */
	
	width: 200px;
	border: 1px solid #d05626;
	padding: 15px;
}
.companyPage .showMenuBtn{
	width: 20px;
	height: 35px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	right: 0px;
	background: #d05626;
}
.companyPage .mainColumn { width: 100%; }