.displayNone_640{display:none;}
.displayOnly_960{display:none;}
.displayOnly_768{display:none;}
.displayOnly_480{display:none;}
.displayOnly_320{display:none;}

.floatLeft_640{float:left;}
.floatRight_640{float:right;}
.clearLeft_640{clear:left;}
.clearRight_640{clear:right;}

.alignLeft_640{text-align:left;}
.alignRight_640{text-align:right;}
.alignCenter_640{text-align:center;}
.alignJustify_640{text-align:justify;}

#appView {
	width: 640px;
}

#freeship {
	background: url(images/freeship_banner_596x28.jpg) no-repeat center top;
	height: 28px;
	margin-bottom:18px;
}

#header {height: 144px;}

#header .tread {
	width: 662px;
	height: 28px;
	background: url(images/tread_662.png);
	top: -16px;
	left: -13px;
}


#header .headerMarginRight{
	margin-right: 1px;
}

#header .logoContainer {
	height: 76px;
	width: 171px;
}
#header .logoContainer .logoLink{
	display: block;
	background:url(images/logo_154x73.png) center center no-repeat;
	width:100%;
	height:100%;
}

#header #headerBanners{ width: 468px; height: 76px;}
#header #headerBanners #questions {width: 212px; height: 100%;}
#header #headerBanners #returnExchangeCombo {width: 145px; height: 100%;}
#header #headerBanners #returnExchangeCombo #returnInCombo {height: 37px; margin-bottom: 1px;}
#header #headerBanners #returnExchangeCombo #exchangeInCombo {height: 38px;}
#header #headerBanners #minicart {width: 109px; height: 100%;}

.dropdownContent {
	width: 640px;
}
.dropdownContent.showDropDown.helmets {height: 458px;}
.dropdownContent.showDropDown.parts {height: 458px;}
.dropdownContent.showDropDown.apparel {height: 394px;}
.dropdownContent .featBrands a {line-height: 54px; height: 54px; padding-top: 10px; width: 290px;}
.dropdownContent .featBrands img { border: 3px solid #36393e; margin-right: 10px; height:48px; width:48px; }


.dropdownContent .dropdownList a {line-height: 54px; height: 54px; padding-top: 10px; margin-left: 10px;}
.dropdownContent .dropdownList img { border: 3px solid #36393e; margin-right: 10px; height:48px; width:48px;}

#header #searchBar {width: 437px;}

#filterContainer {left:-68px; top:40px;}
#filterContainer #showFilterBtn { width: 68px; height:285px; background:url(images/show_filter_btn_68x285.png) no-repeat;}

#footer {
	height: 182px;
	padding: 20px 10px 0px 10px;
}

#footer .linkList {font-size: .95em; margin-right: 10px;}
#footer #footerSocial {margin-top: 30px; margin-bottom: 20px;}

/*********************************************************

HOMEPAGE STYLES

*********************************************************/
#homepageSlideshow { height: 267px; background: black; }
#homepageSlideshow a img{ height: 267px; width:100%; }

#homepageFeatures {height: 377px; background:url(images/homepage_features_background_640x377.jpg); padding: 0px 10px;}

#homepageFeaturesTitle{height:38px; background:url(images/homepage_features_title_560x27.png) center center no-repeat;}

#homepageFeatures360s { height: 158px; width: 620px; margin-bottom:10px;}
#homepageFeatures360s .imajizeContainer { width: 144px; height: 100%; padding: 0px 5px;}
#homepageFeatures360s .imajizeContainer .title{ height:25px; line-height:25px;}
#homepageFeatures360s .imajizeContainer .title,
#homepageFeatures360s .imajizeContainer .price{ font-size: .8em; }
#homepageFeatures360s .imajizeContainer iframe { width: 144px; height: 108px; }

#homepageFeaturesCarousel{height: 160px;}

#homepageFeaturesCarouselNext { background: url(images/arrow_right_7x29.png) center center no-repeat, #cc4300;}
#homepageFeaturesCarouselPrev { background: url(images/arrow_left_7x29.png) center center no-repeat, #cc4300;}

#homepageFeaturesCarouselPrev,
#homepageFeaturesCarouselNext {width: 12px;}

#homepageFeaturesCarouselPrev {border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
#homepageFeaturesCarouselNext {border-top-right-radius: 8px;border-bottom-right-radius: 8px;}

#homepageFeaturesCarouselBody {width: 332px; margin: 0px 2px;}
#homepageFeaturesCarouselBody ul{width: 100%;}
#homepageFeaturesCarouselBody .carouselHeader{ letter-spacing: 5px; font-size: .9em;}
li.prodListItemCarousel { margin: 3px; }
.prodListItemCarousel .prodThumbContainer {width:87px; height:87px; margin-bottom: 3px;margin-left: auto; margin-right: auto;}
.prodListItemCarousel .name {height:28px; font-size: .7em; }
.prodListItemCarousel .price {font-size: .8em;}

#homepageFeaturesVideo {padding-top: 8px; margin-left: 8px;}
#homepageFeaturesVideo > div {width: 246px; height: 138px;}
#homepageFeaturesVideo > div > iframe{width: 246px; height: 138px;}

/*********************************************************

CATEGORY PAGE STYLES

*********************************************************/
.categoryTemplateFilteredSearch .productList {margin: 0px 50px;}
.productList li.searchResultsProduct {width: 160px; height: 250px; margin: 9px;}
.searchResultsProduct .prodThumb {width: 160px; height: 160px;}

/*********************************************************

PRODUCT PAGE STYLES

*********************************************************/
.productPage { padding:10px;}
.prodSideBar { width: 235px;}
.prodViewerContainer { width: 620px;}
.prodImageContainer{width:383px;}
.prodImageContainer .prodBigImageContainer, .prodImageContainer iframe, .prodImageContainer .prodBigImage {width:383px; height:288px;}

.prodImageContainer .prodThumbs{height:34px; padding: 3px;}
.prodImageContainer .icon {height:34px; line-height:34px; margin-left:6px;}
.prodImageContainer .icon .video { width:31px; height:29px;}
.prodViewerContainer .prodThumbs div { margin-right: 6px;}
.prodViewerContainer .prodThumb img{ width:44px; height:32px;}

.prodSummaryContainer{width: 225px; padding-left: 10px;}
#ytModal .ytContainer {width: 600px; height: 360px; margin-left: -300px; margin-top: -180px;}

/*********************************************************

COMPANY PAGE STYLES

*********************************************************/
.companyPage { padding: 20px; position: relative;}
.companyPage .article iframe{width:600px; height: 338px;}
.companyPage .sideline { 
	width: 0px;
	position: absolute;
	right: 0px;
	overflow: hidden;
}
.companyPage .sideline button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
}
.companyPage .sideline.responsiveShow{
	background: #ffe2b0; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe2b0 10px, #ffffff 300px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left top, color-stop(10px,#ffe2b0), color-stop(300px,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,#ffe2b0 10px,  #ffffff 300px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffe2b0 10px,  #ffffff 300px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffe2b0 10px,  #ffffff 300px); /* IE10+ */
	background: linear-gradient(to bottom,#ffe2b0 10px, #ffffff 300px); /* W3C */
	
	width: 200px;
	border: 1px solid #d05626;
	padding: 15px;
}
.companyPage .showMenuBtn{
	width: 20px;
	height: 35px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	right: 0px;
	background: #d05626;
}
.companyPage .mainColumn { width: 100%; }