.displayNone_480{display:none;}

#appView {
	width: 480px;
}

#freeship {
	background: url(images/freeship_banner_480x27.jpg) no-repeat center top;
	height: 27px;
	margin-bottom:10px;
}

#header .tread {
	width: 512px;
	height: 28px;
	background: url(images/tread_512.png);
	top: -12px;
	left: -18px;
}

#header .logoContainer {
	height: 76px;
	width: 182px;
}
#header .logoContainer .logo{
	display: block;
	background:url(images/logo_154x73.png) center center no-repeat;
	width:100%;
	height:100%;
}